body {
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    background: rgb(247, 247, 247);
}
.container {
    width: 100vw;
    /* elements inside won't be affected by scrollbars */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    width: 50%;
    margin: auto;
}

@view-transition {
  navigation: auto;
}